# CSV (Comma-separated values)

In [2]:
import pandas as pd
import numpy as np

Dataframe oluşturup dışa ve içe aktarmak için kullanacağız.

In [3]:
data = np.array((['Ayşe','Ahmet','Fatma','Ali'],
                 [75,   70,  65,  95],
                 [100,  70,  75,  100]))

In [4]:
df = pd.DataFrame(data,columns=['Bir','İki','Üç','Dört'],index=['İsim','Vize','Final'])
df

        Bir    İki     Üç Dört
İsim   Ayşe  Ahmet  Fatma  Ali
Vize     75     70     65   95
Final   100     70     75  100

### Dışarı aktarmak

In [5]:
df.to_csv('example.csv')

### İçeri aktarmak

In [5]:
veri = pd.read_csv('example.csv')

In [6]:
veri

  Unnamed: 0   Bir    İki     Üç Dört
0       İsim  Ayşe  Ahmet  Fatma  Ali
1       Vize    75     70     65   95
2      Final   100     70     75  100

In [7]:
veri = pd.read_csv('example.csv',index_col=0)

In [8]:
veri

        Bir    İki     Üç Dört
İsim   Ayşe  Ahmet  Fatma  Ali
Vize     75     70     65   95
Final   100     70     75  100