# CSV (Comma-separated values)

In [1]:
import pandas as pd
import numpy as np

Dataframe oluşturup dışa ve içe aktarmak için kullanacağız.

In [2]:
data = np.array((['Ayşe','Ahmet','Fatma','Ali'],
                 [75,   70,  65,  95],
                 [100,  70,  75,  100]))

In [3]:
df = pd.DataFrame(data,columns=['Bir','İki','Üç','Dört'],index=['İsim','Vize','Final'])
df

        Bir    İki     Üç Dört
İsim   Ayşe  Ahmet  Fatma  Ali
Vize     75     70     65   95
Final   100     70     75  100

### Dışarı aktarmak

In [4]:
df.to_csv('example.csv')

### İçeri aktarmak

In [5]:
veri = pd.read_csv('sample_dataset.csv')

In [6]:
veri

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
0,752858,Sean,Rodriguez,F,2002-10-20,35.47,2023-04-03,Smith-Russell,Cosmetic
1,26381,Michelle,Phelps,NaN,1985-10-24,2552.72,2023-07-17,"Peck, Spence and Young",Travel
2,305449,Jacob,Williams,M,1981-10-25,115.97,2023-09-20,Steele Inc,Clothing
3,988259,Nathan,Snyder,M,1977-10-26,11.31,2023-01-11,"Wilson, Wilson and Russell",Cosmetic
4,764762,Crystal,Knapp,F,1951-11-02,62.21,2023-06-13,Palmer-Hinton,Electronics
...,...,...,...,...,...,...,...,...,...
49995,891845,Christine,Leach,F,1997-10-21,108.74,2023-08-30,Alexander Ltd,Market
49996,800560,Anna,Allen,F,1999-10-21,133.66,2023-05-03,Knapp-Calhoun,Cosmetic
49997,133285,Nicole,Franklin,M,1979-10-26,464.29,2023-02-12,"Cantrell, Haynes and Ballard",Market
49998,616122,Maria,Keller,M,1981-10-25,472.57,2023-03-25,"Wilson, Jackson and Beard",Market
49999,832184,Billy,Walker,F,1958-10-31,270.67,2023-05-20,Combs LLC,Market

In [9]:
veri = pd.read_csv('sample_dataset.csv',index_col=0)

In [10]:
veri

,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
Customer ID,,,,,,,,
752858,Sean,Rodriguez,F,2002-10-20,35.47,2023-04-03,Smith-Russell,Cosmetic
26381,Michelle,Phelps,NaN,1985-10-24,2552.72,2023-07-17,"Peck, Spence and Young",Travel
305449,Jacob,Williams,M,1981-10-25,115.97,2023-09-20,Steele Inc,Clothing
988259,Nathan,Snyder,M,1977-10-26,11.31,2023-01-11,"Wilson, Wilson and Russell",Cosmetic
764762,Crystal,Knapp,F,1951-11-02,62.21,2023-06-13,Palmer-Hinton,Electronics
...,...,...,...,...,...,...,...,...
891845,Christine,Leach,F,1997-10-21,108.74,2023-08-30,Alexander Ltd,Market
800560,Anna,Allen,F,1999-10-21,133.66,2023-05-03,Knapp-Calhoun,Cosmetic
133285,Nicole,Franklin,M,1979-10-26,464.29,2023-02-12,"Cantrell, Haynes and Ballard",Market
616122,Maria,Keller,M,1981-10-25,472.57,2023-03-25,"Wilson, Jackson and Beard",Market
832184,Billy,Walker,F,1958-10-31,270.67,2023-05-20,Combs LLC,Market