# DataFrame

Bir Seri, esnek indeksleri olan tek boyutlu bir dizi ise, bir DataFrame, hem esnek satır endeksleri hem de esnek sütun adlarıyla iki boyutlu bir dizidir. 

Sıralı tek boyutlu sütunların sıralı dizisi olarak iki boyutlu bir diziyi düşünebildiğiniz gibi, bir ***DataFrame'i hizalanmış Seri nesneler dizisi*** olarak düşünebilirsiniz  Burada "hizalı" ile aynı indeksi paylaştıklarını kastediyoruz.

In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3],index=['a','b','c'])

a    1
b    2
c    3
dtype: int64

-----
**örnek-1**

In [3]:
pd.DataFrame([1,2,3],index=['a','b','c'],columns=['sutün'])# artık sutün kavramı girdi

   sutün
a      1
b      2
c      3

---------
** örnek-2 **

In [4]:
dizi=[[0,1],
      [0,1]]

In [6]:
pd.DataFrame(dizi,index=['a','b'],columns=['sıfır','bir'])

   sıfır  bir
a      0    1
b      0    1

----
**örnek-3**

In [6]:
dizi=[[1,2],
      [3,4],
      [5,6],
      [7,8]]

In [7]:
df=pd.DataFrame(dizi,index=['a','b','c','d'],columns=['tek','çift'])

In [8]:
df

   tek  çift
a    1     2
b    3     4
c    5     6
d    7     8

----
** örnek-4 **

In [13]:
df = pd.DataFrame(
    {#sözlük oluşturduk
    "tek":[1,3,5,7],
   "çift":[2,4,6,8]
    },  
    index=['a','b','c','d']#index adları oluşturduk
    )

In [10]:
df

   tek  çift
a    1     2
b    3     4
c    5     6
d    7     8