# Excel

In [1]:
import pandas as pd
import numpy as np

Dataframe oluşturup dışa ve içe aktarmak için kullanacağız.

In [2]:
data = np.array((['Ayşe','Ahmet','Fatma','Ali'],
                 [75,   70,  65,  95],
                 [100,  70,  75,  100]))

In [3]:
df = pd.DataFrame(data,columns=['Bir','İki','Üç','Dört'],index=['İsim','Vize','Final'])
df

        Bir    İki     Üç Dört
İsim   Ayşe  Ahmet  Fatma  Ali
Vize     75     70     65   95
Final   100     70     75  100

### Dışarı aktarmak

In [4]:
df.to_excel('example.xlsx', sheet_name='Sayfa1')

### İçeri aktarmak

In [5]:
veri= pd.read_excel('example.xlsx',sheet_name='Sayfa1')

In [6]:
veri

        Bir    İki     Üç Dört
İsim   Ayşe  Ahmet  Fatma  Ali
Vize     75     70     65   95
Final   100     70     75  100