# HTML

Bu bölüm sizler için çok faydalı . Hiçbir web bilgisi olmadan istediğiniz siteden tabloları çekmeniz gösterilecek.

In [1]:
import pandas as pd

In [2]:
url = 'http://webders.net/291/ulkeler-ve-baskentleri-listesi.html'

In [3]:
veri = pd.read_html(url,index_col=0,header=0)

In [4]:
veri

[                                    Ülke
 BaÅŸkent
 Abidjan                  FildiÅŸi Sahili
 Abu Dabi      BirleÅŸik Arap Emirlikleri
 Abuja                            Nijerya
 Accra                               Gana
 Adamstown              Pitcairn AdalarÄ±
 ...                                  ...
 Yamoussoukro             FildiÅŸi Sahili
 Yaoundé                          Kamerun
 Yeni Delhi                     Hindistan
 Yaren                              Nauru
 Zagreb                      HÄ±rvatistan

 [232 rows x 1 columns]]

In [5]:
veri = veri[0] #verileri düzenli görelim

In [6]:
veri

                                    Ülke
BaÅŸkent
Abidjan                  FildiÅŸi Sahili
Abu Dabi      BirleÅŸik Arap Emirlikleri
Abuja                            Nijerya
Accra                               Gana
Adamstown              Pitcairn AdalarÄ±
...                                  ...
Yamoussoukro             FildiÅŸi Sahili
Yaoundé                          Kamerun
Yeni Delhi                     Hindistan
Yaren                              Nauru
Zagreb                      HÄ±rvatistan

[232 rows x 1 columns]

### Dışa aktarmak

In [7]:
veri.to_excel('countryorg.xlsx',sheet_name='Sayfa1')