# Pandasda Operasyonlar


| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

In [1]:
import numpy as np
import pandas as pd

In [2]:
a=np.arange(1,7)

In [3]:
a

array([1, 2, 3, 4, 5, 6])

In [4]:
b=np.linspace(1,12,6)

In [5]:
b

array([ 1. ,  3.2,  5.4,  7.6,  9.8, 12. ])

In [6]:
df=pd.DataFrame(index=['a','b','c','d','e','f'],columns=['sutün1','sutün2'])#içi boş

In [7]:
df

  sutün1 sutün2
a    NaN    NaN
b    NaN    NaN
c    NaN    NaN
d    NaN    NaN
e    NaN    NaN
f    NaN    NaN

In [8]:
df["sutün1"]=a

In [9]:
df["sutün2"]=b

In [10]:
df

   sutün1  sutün2
a       1     1.0
b       2     3.2
c       3     5.4
d       4     7.6
e       5     9.8
f       6    12.0

In [11]:
df['topla']=df["sutün1"].add(df["sutün2"])

In [12]:
df

   sutün1  sutün2  topla
a       1     1.0    2.0
b       2     3.2    5.2
c       3     5.4    8.4
d       4     7.6   11.6
e       5     9.8   14.8
f       6    12.0   18.0

In [13]:
df['çıkar']=df["sutün1"].sub(df["sutün2"])

In [14]:
df

   sutün1  sutün2  topla  çıkar
a       1     1.0    2.0    0.0
b       2     3.2    5.2   -1.2
c       3     5.4    8.4   -2.4
d       4     7.6   11.6   -3.6
e       5     9.8   14.8   -4.8
f       6    12.0   18.0   -6.0

In [15]:
df['çarp']=df["sutün1"].mul(df["sutün2"])

In [16]:
df

   sutün1  sutün2  topla  çıkar  çarp
a       1     1.0    2.0    0.0   1.0
b       2     3.2    5.2   -1.2   6.4
c       3     5.4    8.4   -2.4  16.2
d       4     7.6   11.6   -3.6  30.4
e       5     9.8   14.8   -4.8  49.0
f       6    12.0   18.0   -6.0  72.0

In [17]:
df['böl']=df["sutün1"].div(df["sutün2"])

In [18]:
df

   sutün1  sutün2  topla  çıkar  çarp       böl
a       1     1.0    2.0    0.0   1.0  1.000000
b       2     3.2    5.2   -1.2   6.4  0.625000
c       3     5.4    8.4   -2.4  16.2  0.555556
d       4     7.6   11.6   -3.6  30.4  0.526316
e       5     9.8   14.8   -4.8  49.0  0.510204
f       6    12.0   18.0   -6.0  72.0  0.500000

##### ÖDEV : floordiv() , mod() ve pow() da aynı konseptte çalışıyor, araştırın ?