# Kayıp Değerler

** None **: Pythonic missing data (Pythonic eksik veri)

** NaN **: Missing numerical data (Eksik sayısal veriler)

Pandas, ikisi arasında neredeyse birbirinin yerini tutacak şekilde, uygun olan yerlerde onları değiştirecek şekilde tasarlanır:

|Typeclass     |NA Sentinel Value         |
|--------------|--------------------------|
| ``floating`` |   ``np.nan``             |
| ``object``   |   ``None`` or ``np.nan`` |
| ``integer``  |   ``np.nan``             |
| ``boolean``  |   ``None`` or ``np.nan`` |

Pandasda, dizi verilerinin her zaman bir nesne dtype ile saklandığını unutmayın.

## Boş(Eksik) Değerler Üzerinde Çalışmak

Pandas veri yapılarında boş değerleri tespit etmek, çıkarmak ve değiştirmek için birkaç yararlı yöntem vardır. Onlar:

**isnull()** : Eksik değerleri True ,var olan değerleri False yapar.

**notnull()**: isnull() 'n tersi.

**dropna()** : Verilerin filtrelenmiş bir sürümünü döndürür.(Eksik değerleri kaldırır)

**fillna()** : Eksik verileri doldurur.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data =np.array([[1, 2, 3, None, 5],[None,7,np.nan,9,10],[11,12,13,14,15]])

In [3]:
veri= pd.DataFrame(data,index=['Satır1','Satır2','Satır3'],columns=list('12345'))

In [4]:
veri

           1   2    3     4   5
Satır1     1   2    3  None   5
Satır2  None   7  NaN     9  10
Satır3    11  12   13    14  15

-----
**isnull()**

In [5]:
veri.isnull()# eksik veriler True

            1      2      3      4      5
Satır1  False  False  False   True  False
Satır2   True  False   True  False  False
Satır3  False  False  False  False  False

---
**notnull()**

In [6]:
veri.notnull()

            1     2      3      4     5
Satır1   True  True   True  False  True
Satır2  False  True  False   True  True
Satır3   True  True   True   True  True

---
**dropna()**

In [7]:
veri.dropna()#satır

         1   2   3   4   5
Satır3  11  12  13  14  15

In [8]:
veri.dropna(axis='columns')#kolon

         2   5
Satır1   2   5
Satır2   7  10
Satır3  12  15

In [9]:
veri.dropna(thresh=2)#en az 2 tane eksik verisi olmayan satırlar

           1   2    3     4   5
Satır1     1   2    3  None   5
Satır2  None   7  NaN     9  10
Satır3    11  12   13    14  15

In [10]:
veri.dropna(thresh=5)#en az 5 tane eksik verisi olmayan satırlar

         1   2   3   4   5
Satır3  11  12  13  14  15

---
**fillna()**

**Eksik verileri doldurmak.**

In [11]:
veri # tekrardan bir göz atalım

           1   2    3     4   5
Satır1     1   2    3  None   5
Satır2  None   7  NaN     9  10
Satır3    11  12   13    14  15

In [12]:
veri.fillna(0)

         1   2   3   4   5
Satır1   1   2   3   0   5
Satır2   0   7   0   9  10
Satır3  11  12  13  14  15

In [13]:
veri.fillna('X')

         1   2   3   4   5
Satır1   1   2   3   X   5
Satır2   X   7   X   9  10
Satır3  11  12  13  14  15

In [14]:
veri.fillna(method='ffill')# bir önceki satırın aynı kolonundaki değer ile doldurur.

         1   2   3     4   5
Satır1   1   2   3   NaN   5
Satır2   1   7   3   9.0  10
Satır3  11  12  13  14.0  15

In [15]:
veri.fillna(method='bfill')# bir sonraki satırın aynı kolonundaki değer ile doldurur.

         1   2   3   4   5
Satır1   1   2   3   9   5
Satır2  11   7  13   9  10
Satır3  11  12  13  14  15