# MultiIndex(Gelişmiş İndeksleme)

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.arange(0,20).reshape(4,5)

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [5]:
main_index =np.array(['Main İndex 1','Main İndex 1','Main İndex 2','Main İndex 2'])

In [6]:
sub_index =np.array(['Sub İndex 1','Sub İndex 2','Sub İndex 1','Sub İndex 2'])

In [7]:
pd.DataFrame(data,index=[main_index,sub_index])

                           0   1   2   3   4
Main İndex 1 Sub İndex 1   0   1   2   3   4
             Sub İndex 2   5   6   7   8   9
Main İndex 2 Sub İndex 1  10  11  12  13  14
             Sub İndex 2  15  16  17  18  19

In [8]:
main_columns =np.array(['Main Column 1','Main Column 1','Main Column 1','Main Column 2','Main Column 2'])

In [9]:
sub_columns =np.array(['Sub Column 1','Sub Column 2','Sub Column 3','Sub Column 1','Sub Column 2'])

In [10]:
pd.DataFrame(data,columns=[main_columns,sub_columns])

  Main Column 1                           Main Column 2
   Sub Column 1 Sub Column 2 Sub Column 3  Sub Column 1 Sub Column 2
0             0            1            2             3            4
1             5            6            7             8            9
2            10           11           12            13           14
3            15           16           17            18           19

In [11]:
df = pd.DataFrame(data,index=[main_index,sub_index],columns=[main_columns,sub_columns])

In [12]:
df

                         Main Column 1                            \
                          Sub Column 1 Sub Column 2 Sub Column 3
Main İndex 1 Sub İndex 1             0            1            2
             Sub İndex 2             5            6            7
Main İndex 2 Sub İndex 1            10           11           12
             Sub İndex 2            15           16           17

                         Main Column 2
                          Sub Column 1 Sub Column 2
Main İndex 1 Sub İndex 1             3            4
             Sub İndex 2             8            9
Main İndex 2 Sub İndex 1            13           14
             Sub İndex 2            18           19

In [13]:
df.index.names=('Main', 'Sub')
df

                         Main Column 1                            \
                          Sub Column 1 Sub Column 2 Sub Column 3
Main         Sub
Main İndex 1 Sub İndex 1             0            1            2
             Sub İndex 2             5            6            7
Main İndex 2 Sub İndex 1            10           11           12
             Sub İndex 2            15           16           17

                         Main Column 2
                          Sub Column 1 Sub Column 2
Main         Sub
Main İndex 1 Sub İndex 1             3            4
             Sub İndex 2             8            9
Main İndex 2 Sub İndex 1            13           14
             Sub İndex 2            18           19

In [14]:
df.index

MultiIndex(levels=[['Main İndex 1', 'Main İndex 2'], ['Sub İndex 1', 'Sub İndex 2']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['Main', 'Sub'])

In [15]:
df.columns

MultiIndex(levels=[['Main Column 1', 'Main Column 2'], ['Sub Column 1', 'Sub Column 2', 'Sub Column 3']],
           labels=[[0, 0, 0, 1, 1], [0, 1, 2, 0, 1]])

**MultiIndex ?**

In [16]:
indeks_arrays = [['Main İndex 1','Main İndex 1','Main İndex 2','Main İndex 2'], 
          ['Sub İndex 1','Sub İndex 2','Sub İndex 1','Sub İndex 2']]

In [17]:
indeks=pd.MultiIndex.from_arrays(indeks_arrays, names=('Main', 'Sub'))

In [18]:
pd.DataFrame( np.arange(20).reshape(4,5) ,  indeks  )

                           0   1   2   3   4
Main         Sub
Main İndex 1 Sub İndex 1   0   1   2   3   4
             Sub İndex 2   5   6   7   8   9
Main İndex 2 Sub İndex 1  10  11  12  13  14
             Sub İndex 2  15  16  17  18  19

In [19]:
columns_arrays=[['Main Column 1','Main Column 1','Main Column 1','Main Column 2','Main Column 2'],
         ['Sub Column 1','Sub Column 2','Sub Column 3','Sub Column 1','Sub Column 2']]

In [20]:
columns=pd.MultiIndex.from_arrays(columns_arrays)

In [21]:
pd.DataFrame( np.arange(20).reshape(4,5) ,  indeks ,columns )

                         Main Column 1                            \
                          Sub Column 1 Sub Column 2 Sub Column 3
Main         Sub
Main İndex 1 Sub İndex 1             0            1            2
             Sub İndex 2             5            6            7
Main İndex 2 Sub İndex 1            10           11           12
             Sub İndex 2            15           16           17

                         Main Column 2
                          Sub Column 1 Sub Column 2
Main         Sub
Main İndex 1 Sub İndex 1             3            4
             Sub İndex 2             8            9
Main İndex 2 Sub İndex 1            13           14
             Sub İndex 2            18           19

In [22]:
df# ==pd.DataFrame( np.arange(20).reshape(4,5) ,  indeks ,columns )

                         Main Column 1                            \
                          Sub Column 1 Sub Column 2 Sub Column 3
Main         Sub
Main İndex 1 Sub İndex 1             0            1            2
             Sub İndex 2             5            6            7
Main İndex 2 Sub İndex 1            10           11           12
             Sub İndex 2            15           16           17

                         Main Column 2
                          Sub Column 1 Sub Column 2
Main         Sub
Main İndex 1 Sub İndex 1             3            4
             Sub İndex 2             8            9
Main İndex 2 Sub İndex 1            13           14
             Sub İndex 2            18           19

## Filtreleme

---
### Sutün Filtrelemesi

In [23]:
df['Main Column 1']

                          Sub Column 1  Sub Column 2  Sub Column 3
Main         Sub
Main İndex 1 Sub İndex 1             0             1             2
             Sub İndex 2             5             6             7
Main İndex 2 Sub İndex 1            10            11            12
             Sub İndex 2            15            16            17

In [24]:
df['Main Column 2']

                          Sub Column 1  Sub Column 2
Main         Sub
Main İndex 1 Sub İndex 1             3             4
             Sub İndex 2             8             9
Main İndex 2 Sub İndex 1            13            14
             Sub İndex 2            18            19

In [25]:
df['Main Column 2']['Sub Column 1']

Main          Sub
Main İndex 1  Sub İndex 1     3
              Sub İndex 2     8
Main İndex 2  Sub İndex 1    13
              Sub İndex 2    18
Name: Sub Column 1, dtype: int32

In [26]:
list(df['Main Column 2']['Sub Column 1'])#eğer almak istersen

[3, 8, 13, 18]

In [27]:
list(df['Main Column 2']['Sub Column 2'])

[4, 9, 14, 19]

---
### Satır Filtrelemesi

In [28]:
df.loc['Main İndex 1']

            Main Column 1                           Main Column 2
             Sub Column 1 Sub Column 2 Sub Column 3  Sub Column 1 Sub Column 2
Sub
Sub İndex 1             0            1            2             3            4
Sub İndex 2             5            6            7             8            9

In [29]:
df.loc['Main İndex 2']

            Main Column 1                           Main Column 2
             Sub Column 1 Sub Column 2 Sub Column 3  Sub Column 1 Sub Column 2
Sub
Sub İndex 1            10           11           12            13           14
Sub İndex 2            15           16           17            18           19

In [30]:
df.loc['Main İndex 2'].loc['Sub İndex 1']

Main Column 1  Sub Column 1    10
               Sub Column 2    11
               Sub Column 3    12
Main Column 2  Sub Column 1    13
               Sub Column 2    14
Name: Sub İndex 1, dtype: int32

In [31]:
list(df.loc['Main İndex 2'].loc['Sub İndex 1'])

[10, 11, 12, 13, 14]

In [32]:
list(df.loc['Main İndex 2'].loc['Sub İndex 2'])

[15, 16, 17, 18, 19]

---

In [33]:
df.loc['Main İndex 2'].loc['Sub İndex 1']['Main Column 1']['Sub Column 1']

10

In [34]:
df.loc['Main İndex 2'].loc['Sub İndex 1']['Main Column 1']['Sub Column 2']

11

In [35]:
df.loc['Main İndex 2'].loc['Sub İndex 1']['Main Column 1']['Sub Column 3']

12